<style>
  .link-course:hover {
    text-decoration: underline;
  }
</style>
<section class="section mt-3">
  <div class="col-lg-12 col-md-12 mb-4">
    <div class="card pb-4">
      <div
        class="d-flex align-items-center mt-2"
        style="margin-bottom: -15px"
      >
        <h4 class="card-header">Pertemuan</h4>
      </div>
      <% courses.forEach(course => { %>
      <hr width="95%" class="me-auto ms-auto mb-4" />
      <div class="row ms-3">
        <div class="d-flex align-items-center">
          <h4><%= course.nama %></h4>
        </div>
        <div class="row ms-sm-3 mt-2">
          <% if (course.deskripsi != "" ) { %>
          <div
            class="card border border-primary border-1 mt-2 mb-4 p-3"
            style="width: 95%"
          >
            <%= course.deskripsi %>
          </div>
          <% } %> <% course.resources.forEach(resource => { %>
          <div class="row">
            <a
              class="mb-2"
              style="width: fit-content"
              href="<%= resource.file %>"
              ><h5 class="text-secondary link-course">
                <i class="fas fa-file-alt me-3"></i><%= resource.nama %>
              </h5></a
            >
          </div>
          <% }) %> <% if (typeof course.attendance != 'undefined') { %>
          <div class="row">
            <a
              class="mb-2"
              style="width: fit-content"
              href="/siswa/kehadiran/<%= course.attendance._id %>"
              ><h5 class="text-secondary link-course">
                <i class="bi bi-person-lines-fill me-3"></i>Presensi
              </h5></a
            >
          </div>
          <% } %> <% if (typeof course.tugas != 'undefined') { %>
          <div class="row">
            <a
              class="mb-2"
              style="width: fit-content"
              href="/siswa/tugas/<%= course.tugas._id %>"
              ><h5 class="text-secondary link-course">
                <i class="fas fa-tasks me-3"></i><%= course.tugas.nama_tugas %>
              </h5></a
            >
          </div>
          <% } %>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</section>
