<link
  rel="stylesheet"
  href="/static/assets/extensions/sweetalert2/sweetalert2.min.css"
/>

<section class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center" style="margin-bottom: -20px;">
        <div class="card-title">My Profile</div>
        <button
            type="button"
            class="btn btn-success d-flex justify-content-center align-items-center me-2 border-0"
            data-bs-toggle="modal"
            data-bs-target="#editPass"
        >
        Ganti Password
        </button>
      </div>
      <div class="card-content">
        <div class="card-body">
          <% if (typeof errors != 'undefined') { %>
          <div class="alert alert-danger" role="alert">
            <% errors.forEach(item => { %>
            <p>- <%= item.msg %></p>
            <% }) %>
          </div>
          <% } %>
          <form
            enctype="multipart/form-data"
            class="form form-horizontal"
            action="/siswa/profile?_method=PUT"
            method="POST"
          >
            <div class="form-body">
              <div class="row">
                <div class="col-md-6 col-12 mb-3">
                  <label class="mb-1">Nama</label>
                  <input
                    type="text"
                    class="form-control"
                    disabled
                    value="<%= auth.nama %>"
                  />
                </div>
                <div class="col-md-6 col-12 mb-3">
                  <label class="mb-1">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    value="<%= auth.username %>"
                    required
                  />
                </div>
                <div class="col-md-6 col-12 mb-3">
                  <label class="mb-1">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    value="<%= auth.email %>"
                    required
                  />
                </div>
                <div class="col-md-6 col-12 mb-3">
                    <label class="mb-1">Jenis Kelamin</label>
                    <select class="form-select" name="jk" id="jk">
                      <option value="" selected>Pilih Jenis Kelamin</option>
                      <option <% if (auth.jk == "Laki Laki") { %>
                       selected
                      <% } %> value="Laki Laki">Laki Laki</option>
                      <option <% if (auth.jk == "Perempuan") { %>
                       selected
                      <% } %> value="Perempuan">Perempuan</option>
                    </select>
                </div>
                <div class="col-md-6 col-12 mb-3">
                  <label class="mb-1">Tanggal Lahir</label>
                  <input
                    type="date"
                    class="form-control"
                    name="tanggalLahir"
                    value="<%= auth.tanggalLahir %>"
                  />
                </div>
                <div class="col-md-6 col-12 mb-3">
                  <label class="mb-1">Foto</label>
                  <div class="row">
                    <div class="col-7">
                      <input type="file" class="form-control" name="foto" />
                    </div>
                    <div class="col-5">
                      <button
                        type="button"
                        class="btn btn-outline-primary form-control"
                        data-bs-toggle="modal"
                        data-bs-target="#foto"
                      >
                        Lihat Foto
                      </button>
                    </div>
                  </div>
                  <div
                    class="modal fade"
                    id="foto"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">
                            Foto
                          </h1>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <img src="<%= auth.foto %>" width="100%" />
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-danger"
                            data-bs-dismiss="modal"
                          >
                            Close
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-12 mb-3">
                  <label class="mb-1">No Telepon</label>
                  <input
                    type="tel"
                    class="form-control"
                    name="noTelp"
                    value="<%= auth.noTelp %>"
                  />
                </div>
                <div class="col-md-6 col-12 mb-3">
                  <label class="mb-1">Alamat</label>
                  <textarea
                    class="form-control"
                    name="alamat"
                    id="alamat"
                    cols="30"
                    rows="1"
                  >
<%= auth.alamat %></textarea
                  >
                </div>
                <input type="hidden" name="_id" value="<%= auth._id %>" />
                <div class="col-sm-12 d-flex justify-content-end mt-2">
                  <a
                    href="/siswa/dashboard"
                    class="btn btn-secondary me-2 mb-1 mt-1"
                  >
                    Kembali
                  </a>
                  <button type="submit" class="btn btn-primary mb-1 mt-1">
                    Update
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<div
  class="modal fade text-left"
  id="editPass"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel1"
  aria-hidden="true"
>
  <form action="/siswa/pass?_method=PUT" method="POST">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel1">Ganti Password</h5>
          <button
            type="button"
            class="close rounded-pill"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i data-feather="x"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="passwordLama" class="form-label">Password Lama</label
            ><input
              type="password"
              class="form-control"
              name="passwordLama"
              id="passwordLama"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password Baru</label
            ><input
              type="password"
              class="form-control"
              name="password"
              id="password"
              required
            />
          </div>
          <input type="hidden" name="user_id" value="<%= auth._id %>" />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger d-flex justify-content-center align-items-center"
            data-bs-dismiss="modal"
          >
            Batal
          </button>
          <button type="submit" class="btn btn-primary d-flex justify-content-center align-items-center">Update
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<% if (msg.length !== 0) { %>
<script src="/static/assets/extensions/sweetalert2/sweetalert2.min.js"></script>

<script>
  Swal.fire({
    icon: "success",
    title: "Sukses",
    text: "<%= msg %>",
  });
</script>
<% } %>

<% if (msgGagal.length !== 0) { %>
<script src="/static/assets/extensions/sweetalert2/sweetalert2.min.js"></script>
    
<script>
 Swal.fire({
    icon: "error",
    title: "Gagal",
    text: "<%= msgGagal %>",
 });
</script>
<% } %>

<% if (typeof errors != 'undefined') { %>
<script src="/static/assets/extensions/sweetalert2/sweetalert2.min.js"></script>

<script>
  Swal.fire({
    icon: "error",
    title: "Gagal",
    text: "Periksa Inputan Anda",
  });
</script>
<% } %>
